extends layout

block content
  h1= title
  p Welcome to #{title}

  div.
    <ul class="nav">
      <li class="nav-item">
        <a class="nav-link" href="/">home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/add">Add</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/list">List</a>
      </li>
      <li class="nav-item">
        <a class="nav-link disabled" href="#">Disabled</a>
      </li>
    </ul>

  block subcontent